* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100%;
}

/* Scrollbar Styles */
.list-container::-webkit-scrollbar {
    width: 8px;
}

.list-container::-webkit-scrollbar-track {
    background: transparent;
}

.list-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid transparent;
}

.list-container:hover::-webkit-scrollbar-thumb {
    background-color: #4A5568;
}

.list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
